OPENAI_API_KEY=5VA5C6THkSX6FFrXyHDr2UKvtGQqIADJn3yOng5bkFXJ6qz1bwRoJQQJ99BLACHYHv6XJ3w3AAAAACOGTgd7
AZURE_OPENAI_API_KEY=G0UAVAWywpG4x3MkL4P5o2ElsPyaJg7IXCMxFP4F0RmUAgJiRXO0JQQJ99BLAC5RqLJXJ3w3AAAAACOGxwkn
AZURE_OPENAI_ENDPOINT=https://chenn-miq27278-westeurope.openai.azure.com/openai/responses?api-version=2025-04-01-preview
AZURE_OPENAI_API_VERSION=2025-08-07
AZURE_DEPLOYMENT=gpt-5-mini
AZURE_JUDGE_DEPLOYMENT=gpt-4.1
AZURE_EMBEDDING_DEPLOYMENT=text-embedding-3-small

# Vector Store (chroma or azure)
VECTOR_STORE_TYPE=chroma
AZURE_SEARCH_ENDPOINT=https://tejaproject12.search.windows.net
AZURE_SEARCH_KEY=MR4q8bYbN74ElTcT3APX0Qu9RqRfEUZBWD0cOHaS6nAzSeBWkjlU
AZURE_SEARCH_INDEX=supply-chain-index